@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    padding: 0;
    margin: 0;
}
:root{
    --black:#1c2a39;
    --gray:#5c6a79;
    --purple:#4c3db2;
    --transition:all 250ms ease-in-out;

}
.navbar{
    height: 120px;
    width: 80%;
    margin-left: 10%;
}
.title{
    font-weight: bold;
}
.menu,
.menu_icons{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    font-size: 20px;
    color: var(--gray);
    cursor: pointer;
}

.menu .active{
    color: var(--black);
    font-weight: bold;
}
.menu li ,.menu_icons li{
    margin: 0 10px;
}
.menu_icons li{
    color: var(--black);
}
.basket_icon{
    position: relative;
}
.basket_count{
    position: absolute;
    right:-0.7rem ;
    bottom: 0;
    width: 20px;
    height: 20px;
    background-color: var(--black);
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}
.basket_count:empty{
    display: none;


}
.slider{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: 600px;
}
.slider img{
    height: 600px;
}
.store{
    width: 80%;
    margin-left: 10%;
    position: absolute;
 
}

.book_card{
    height: 400px;
}
.book_card img{
    height: 350px;

}
.fos{
    font-family: "Open Sans", "sans-serif",;
}
.gray{
    color: var(--gray);
}
.black{
    color: var(--black);
}
.fw-bold{
    font-weight: bold;
}
.book_star_rate .bi-star, .bi-star-fill{
    color: #eeedf5;
    font-size: 1.2rem;
    margin-right: 5px;
}
.book_star_rate .bi-star-fill.active{
    color: #f2c944;
}
.book_desriptions{
    display: -webkit-box;
   height: 77px;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.old_price{
    text-decoration: line-through;
    color: #bbb9c5;
}
.btn_purple{
    padding: 5px 0;
    cursor: pointer;
    border: 2px solid var(--purple);
    color: var(--purple);
    font-size: 1rem;
    font-weight: bold;
    background-color: transparent;
    transition: var(--transition)
  

}
.btn_purple:hover{
    background-color: var(--gray);
    color: rgb(67, 94, 122);
    
}
#b {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* Ebeveyni kadar yükseklik almasını sağlar */
    padding: 1rem; /* İçerik ile kenarlıklar arasında boşluk bırakır */
    box-sizing: border-box; /* Padding'in genişliği içinde sayılmasını sağlar */
  }

.filter_background{
    position: absolute;
    padding-left: 0;
    width:350px;
    height: 900px;
    background-color: #eeedf5;
    z-index: -1;
}
.filter{
    position: absolute;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    min-height: 650px;
    justify-content: center;

}
.filter li{
    color: var(--gray);
    font: size 1rem ;
    margin-bottom: 2rem;
    cursor: pointer;
}
.filter li:hover{
    color:#1c2a39 ;
}
.filter li.active{
    color: var(--purple);
    font-size: 1.5rem;
    font-weight: bold;

}
.filter li.active::before{
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color:var(--purple);
    position: absolute;
    left: 12px;
    margin-top: 10px;

}
.basket_modal{
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #5c6a7950;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition:var(--transition)
}
.basket_modal.active{
    opacity: 1;
    z-index: 999;

}
.basket_items{
    position: relative;
    width: 450px;
    background-color:white ;
    height: 100%;
    float: right;
    transition: var(--transition);
    
}
.basket_model.active .basket_items{
    width: 450px;
}
.basket_items .bi-x{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 3rem;
    color: var(--black);
    cursor: pointer;

}
.basket_title{
    color: #1c2a39;
    margin-top: 5rem;
    text-align: center;
    font-weight: bold;
}
.basket_list{
    list-style-type: none;
    padding: 0 10px;
    margin-top:3rem ;
    max-height:650px ;
    overflow-y: auto;
  
}

.basket_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom:2rem ;
}
.basket_item_info{
    width: 250px;
}
.basket_item_info .book_name{
    font-size: 16px;
    font-weight: bold;
}
.basket_item_info .book_price{
    font-size: 16px;
  
}
.basket_item_info .book_remove{
 cursor: pointer;
 color:var(--gray) ;
}
.basket_infos .book_count{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--purple);
}
.book_count .increase{
    margin-left: 5px;
}
.book_count .decrease{
    margin-right: 5px;
}
.book_count .increase,
.decrease{
    cursor: pointer;
color: var(--purple);
}

.basket_total{
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 5%;
    align-items: center;
    width: inherit;
}
.basket_total .btn_purple{
    width: 250px;
   
}
.total_price:empty + .btn_purple{
    display: none;
}
.carousel-inner p{
    font-size: 2rem;
    font-weight: bold;
    color:aliceblue;
    margin-bottom: 2rem;
}